*{
    font-family: Roboto;
    ;
}
 body{ 
  background-image: url('./image/bg.jpg');
  background-size: cover;         
  background-repeat: no-repeat;   
  background-position: center; 
  background-attachment: fixed; 
 }
.title {
    font-family:Luckiest Guy;
    color:#9B827D ;
    letter-spacing: 2px !;
}

.btn-adicionar{
    background-color:#CDBAB4  ;
    color:white !;
   
}
.btn-adicionar:hover{
    background-color: #9B827D ;
}
.btn-success:hover,
.btn-danger:hover {
    background-color: #9B827D ; 
    color: white !; 
}

.btn-success,
.btn-danger,
.btn-secondary {
  background-color: #CDBAB4 !important;
  color: white !important; 
}
.btn-success:hover,
.btn-danger:hover,
.btn-secondary:hover {
  background-color: #9B827D !important;
  color: white !important;
}

@media (min-width: 768px) {
    .title {
    font-family:Luckiest Guy;
    letter-spacing: 4px; 
       
    }
}



